<?xml version='1.0' encoding='utf-8'?>
<widget id="com.brodybits.TestApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>CDV-sqlite-legacy-PGB-W10-x86-test</name>
    <description>
        Cordova sqlite legacy PhoneGap Build test app for Windows 10 x86
    </description>
    <author email="brodybits@litehelpers.net" href="https://github.com/brodybits">
        @brodybits (Christopher J. Brody aka Chris Brody)
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-dialogs" spec="~1.3.0" />
    <plugin name="cordova-sqlite-legacy-build-support" spec="https://github.com/litehelpers/Cordova-sqlite-legacy-build-support" />
    <preference name="phonegap-version" value="cli-6.3.0" />
    <preference name="windows-appx-target" value="uap" />
    <preference name="windows-arch" value="x86" />
</widget>
